*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.card1{
    background-color: antiquewhite;
    height: 100vh;
    text-align: center;
    
}

.card1>div{
    text-align: justify;
    border: 2px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 270px;
    margin: 10px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(0,0,0,0.2) ;
    
}
button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 100%;
    
}
.card1 button:hover{
    cursor: pointer;
    transform: translateY(-2px);
    background-color:whitesmoke;
}
h3{
    text-align: center;
    margin-bottom: 15px;
    
}