*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border:1px solid black;
    
}
ul,h2{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
ul>li>button{
    background-color:skyblue;
    padding: 2px 3px;
    border: none;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    text-transform: uppercase;
}
ul>li>button:hover{
    background-color: white;
}
ul>li:hover{
    cursor: pointer;
    transform: translatey(-2px);
    transform: scale(1.1);
    color: blueviolet;
}
.outer{
    height: calc(90.2vh);
    display: flex;
    
    background-color: white;
}
.outer>.left{
    width: 50%;
    padding: 50px;
    background-color: white;
}
.outer>.right{
    width: 50%;
    background-color: white;
}
.outer>.left>h1{
    margin-bottom: 20px;
}
.outer>.left>p{
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}
.outer>.left>.inner>input{
    border: 2px solid rgb(130, 189, 238);
    width: 70%;
    height: 30px;
    
}
.outer>.left>.inner>button{
    height: 36px;
    width: 80px;
    border: none;
    background-color: rgb(130, 189, 238);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;

}
.outer>.left>.inner>button:hover{
    transform: scale(1.1);
}
img{
    height: 90.1%;
    width: 100%;
}
