* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    background-color: black;
    color: white;
}
em{
    padding-left: 13%;
    font-size: 10px;
}
p {
    color: white;
}
.d1>img{
    padding-left: 20px;
}
.d1 {

    background-color: rgb(255, 22, 5);
    height: 300px;
    width: 200px;
    padding-left: 50px;
    border-radius: 10px;
    border: 2px solid rgb(162, 146, 146);
    
}

.d1>.d2 {
    background-color: black;
    padding-left: 8%;
    height: 20px;
    width: 70%;
    margin-bottom: 2px;
    border-radius: 5px;
}

.d1>.d3 {
   background-color: black;
    padding-left: 8%;
    height: 20px;
    width: 70%;
    margin-bottom: 2px;
    border-radius: 5px;

}

.d1>.d4 {
    background-color: black;
    padding-left: 8%;
    height: 20px;
    width: 70%;
    margin-bottom: 2px;
    border-radius: 5px;

}

.d1>.d5 {
    
    background-color: black;
    padding-left: 8%;
    height: 20px;
    width: 70%;
    margin-bottom: 2px;
    border-radius: 5px;
}

.d1>.d6 {
  background-color: black;
    padding-left: 8%;
    height: 20px;
    width: 70%;
    margin-bottom: 2px;
    border-radius: 5px;

}

