* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.box1 {
    background-color: aqua;
    /* height: 100vh; */
    height: 100vh;
    width: 80vh;
}

.box2 {
   
    background-color: aquamarine;
     height: 200px;
    width: 500px;
}
.box2>.box3{
    background-color: yellow;
    /* height: 150px;
    width: 200px; */
    /* absolute is percentage is change according to the parent */
    height: 50%;
    width: 70%;
}
.circle{
    height: 400px;
    width: 400px;
    background-color:black;
    /* border-radius:50px ; */
    /* below take the radius according to the height */
    border-radius: 50%;
}

.box4{
    background-color: blueviolet;
    height: 400px;
    padding-left: 40px;
    margin-left: 20px;

    /* font-size: 25px; */
    font-size: 2em;

}
.box4>.box5{
    background-color: yellow;
    height: 60%;
    width: 70%;
    font-size: 2em;
}