*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    width: 200px;
    height:200px;
    border-radius: 50%;
    background-color: blueviolet;
    animation-name:circle ;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /* above method not go to original status */
    animation-iteration-count: 10;

    animation-direction: reverse;

    position: relative;
    /* not mention the offset */

}

@keyframes circle {
    0%{
        background-color: black;
        left: 0;
        top: 0;
    }
    50%{
         background-color: rgb(51, 16, 91);
        width: 50px;
        height: 50px;
        left: 300px;
        top: 300px;

    }
    100%{
        background-color: aqua;
        width: 300px;
        height: 300px;
        left: 600px;
        top: 600px;
    }
    
}