*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.blueBox{
    background-color:yellowgreen;
    height: 300px;
    width: 300px;
    margin-top: 100px;
    position: sticky;
    top: 0px;
    bottom: 0px;
}

.yellowBox{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    /* above consider root(body) as  */
    top: 100px;
    left: 100px;
   
}

/* h2{
    position: relative;
    left: 100px;
} */