*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outer{
    background-color: black;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer>.inner{
    height:calc(100vh - 100px);
    width: 1400px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
.inner>.card{
     height:300px;
    width: 300px;
    
    background-color:wheat;
    border-radius: 10px;
    /* transition to slow the speed the hover */
    transition: all 3s ;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* transform */
.inner>.card:hover{
    background-color: blueviolet;
    /* transform: translate(-100px,0); */
    /* above for -x and y */
    /* transform: translate(0,100px);
     */
     /* transform: translateX(-200px); */

     /* transform: translateX(200px);
      */

      /* transform: translateY(200px); */

    /* transform: translateY(-200px); */
    /* transform: rotate(360deg); */

    /* increase the size and decrease the size of the element*/

    /* transform: scale(1.5); */


    transform: skew(18deg);

}

