*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.outer{
    height: 100vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    align-items: center;
    
}
.inner{
    background-color:yellowgreen;
    height: 300px;
    width: 300px;
    transition: all 3s linear 1s ;
    /* transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transition-delay: 1s; */
    
}
.outer>.inner:hover{
    border-radius: 50%;
    background-color: brown;
}
h2{

    text-transform: uppercase;
}
