*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{

    height: 80px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > ul{
    display: flex;
    gap:20px;
    list-style: none;
}

nav ul > li{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
header{
    height: 200px;
    background-color: black;
}


header > h1{
    color:white;
}

main{
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
}

.card{
    height: 200px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 3px 6px black;
}

footer{
    height: 100px;
    background-color: #212121;
    color:white;
    text-align: center;
}



@media (max-width:700px) {
    
    header{
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header > h1{
        color:black;
    }

    main{
        flex-direction: column;
        height: 450px;
    }

    main > .card{
        width: 80%;
    }

  
}


@media (min-width:500px) and (max-width:800px) {
    
    footer > h1{
        color:green;
    }
}


@media (max-width:400px) {
   
   

    nav{
        height: 100vh;
        
         width: 100%;
    }

    nav > h2{
        display: none;
    }
    nav > ul {
        flex-direction: column;
        

    }
}
/* @media (max-width:400px) {
    
    nav{
        height: 160px;
    }
    nav > ul {
        flex-direction: column;

    }
} */