 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 .outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
 }

 .outer>.left{
    background-color: aqua;
    width: 50%;
    height: 100%;
 }

 .outer>.right{
    background-color: coral;
    width: 50%;
    height: 100%;
 }