* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.d1 {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.d2 {
    height: 400px;
    width: 400px;
    display: flex;
    background-color: aqua;
    border: 2px solid wheat;
}

.row1>.w {
    height: 50px;
    width: 50px;
    background-color: aliceblue;
}

.row1>.b {
    height: 50px;
    width: 50px;
    
    background-color: black;
}
.row2>.w {
    height: 50px;
    width: 50px;
    
    background-color: aliceblue;
}

.row2>.b {
    height: 50px;
    width: 50px;
    background-color: black;
}