*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inner{
    height: 600px;
    width: 700px;
    border: 2px solid black;
/* flex apply to the parent  */
/* padding: 20px; */
    display: flex;
    /* flex direction , i tell the direction in display then default as row */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* below it align the element to center */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around;
     */

    /* justify content and align item will not work if it don't have the height and width */

     justify-content: space-evenly;
         /* flex arrange the element in the main axis(now row it arrange) */
         /* align item arrange the element in cross axis(opposite to main axis(if main is row , it arrange in column) */
         align-items: center;
         gap: 10px;
}
.inner>.box{
    height: 80px;
    width: 90px;
    border: 2px solid red;
    /* display: inline-block; */
    /* border-radius: 50px;
    text-align: center; */


}