*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: blueviolet;

    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>.u{
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
nav>.u1,button{
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    font-weight: bold;
    
}
li{
    list-style: none;
}
button{
    color: azure;
    background-color: yellowgreen;
    border: 2px solid black;
    border-radius: 5px;
}