*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav1{
    display: flex;
    background-color: black;
    color: aliceblue;
    justify-content:flex-end ;
    height: 50px;
    
}
ul>li:hover{
    color: brown;
    transform: translateY(-2px);
    cursor: pointer;
}
ul{
    display:flex ;
    gap: 30px;
    list-style: none;
    text-transform: uppercase;
    align-items: center;
}
main{
    height: 250px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
main>button{
    text-transform: uppercase;
    color: aliceblue;
    background-color: brown;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;

}
main>button:hover{
    transform: translateY(-2px);
    color:violet;
}
section{
    /* height of nav and main is 50px+250px */
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: row;
    background-color: rgba(222, 7, 237, 0.759);
    justify-content: space-around;
    align-items: center;

}
section>div{
    border:2px solid black;
    height: 190px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    background-color:rgb(99, 65, 131);
}
.inner>.image{
    height: 50%;
    background-image: url(https://media.istockphoto.com/id/1205214235/photo/path-through-sunlit-forest.jpg?s=612x612&w=0&k=20&c=-AS1aTz85kcZ2X7E8n2iFlm6dsdIMyWGWrSDQ1o-f_0=);
}
.inner{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
h2{
    margin-top: 20px;
}