/*  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background: linear-gradient(to right top,black,red);

    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr ; */
    grid-template-columns: 200px 250px 200px;
    /* grid-template-rows: 100px 100px 100px 100px; */
    grid-auto-rows: 100px;

    justify-content: center;
    align-content: center;
    gap: 10px;
}

.outer > .box{
    border: 2px solid white;
    padding: 10px;
    color:white;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.outer > #box1{
    grid-column: span 3;
}

.outer > #box3{
    grid-column: span 2;
}

.outer > #box2{
    grid-row: span 2;
}
.outer > #box8{
    grid-row: span 2;
}