*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

.layout{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* define the row height */
    grid-template-rows: 10vh 80vh 10vh;
    /* grid area */
   grid-template-areas: 
   "h h h h h"
   "sb1 m m m sb2"
   "f f f f f";
    
}
.header{
    grid-area: h;
}
.sidebar1{
    grid-area: sb1;
}
.main{
    grid-area: m;
}
.sidebar2{
    grid-area: sb2;
}
.footer{
    grid-area: f;
}
/* .header,.footer{
    grid-column: span 3;
} */




.layout div{

    border: 1px solid black;
    background-color: aqua;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
/* below just align the text but it is not example for pure grid */
    display: grid;
    justify-content: center;
    align-items: center;
}
































body{
    background-color: antiquewhite;
}
.container{
    display: grid;
    /* background-color: aqua; */
    /* we have to mention the grid column ,then only it work */
    /* grid-template-columns: 30% 30% 30% ; */
    /* or
     */
     /* below it divide the column into equal parts */
     /* below it is ratio 1:1:1 */
     /* grid-template-columns: 1fr 1fr 1fr; */
     /* grid-template-columns: 300px 200px auto; */
     /* grid-template-columns: repeat(4,1fr); */
     /* grid-template-columns: minmax(200px,1fr) 1fr 1fr; */
     /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); */
     grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
     /* column-gap: 20px;
     row-gap: 20px; */ 
     gap: 20px;
     /* below mention the how many column */
     /* grid-template-columns: 1fr 2fr 1fr; */
     /* or */
     /* grid-template-columns: 300px 2fr 1fr;   */
     
     /* now row division */
     grid-template-rows: 1fr 2fr 1fr;


    

}
.outerbox{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

    /* arrange order in columns */
    /* grid-template-rows: 100px 200px 100px;
    grid-auto-flow: column; */
    /* below size for two size */
    grid-template-rows: 100px 200px ;
    /* extra row size */
    grid-auto-rows: 200px;
    /* grid-auto-flow: row; */

    /* justify-content: start; */
    justify-content: end;
    /* align-items: start; */
     /* align-items: end; */
  
     /* align-content: start; */
    
     /* justify-items: end; */

     /* justify-items: center; */

     justify-items: stretch;

}
.box{
    background-color: blueviolet;
    font-size: 4rem;
    /* align the text to center using grid */
    display: grid;
    justify-content: center;
    align-items: center;
    /* default  */
    /* align-items: stretch; */
    /* now */
    /* align-items: start; */

    /* align the text in lower */
    /* align-items: end; */
/* justify-content: end; */
/* justify-content: start; */
/* justify-content: center; */

/* justify-items: start; */
   
}
.para{
    padding: 1rem;
    background-color:lightsalmon;
    color: white;
}

#box1{
    /* grid-column-start: 1;
    grid-column-end: 3; */
/* shortcut */

    /* grid-column: 1/3; */
    /* grid-column: 1/-1; */

    /* shortcut simple */
    /* tell the no.of cell */
    /* grid-column: span 2; */
    justify-self: center;
}
#box2{
    /* grid-row: span 2; */
}